<template>
  <VAppBar
    app
    dark
    color="primary"
  >
    <VToolbarTitle>
      VueQL
    </VToolbarTitle>
    <VSpacer />
    <VIcon class="mr-2">
      person_pin
    </VIcon>
    <span>
      {{ loggedUser.name }}
    </span>
    <ActionMenu>
      <VList>
        <VListItem @click="handleLogout">
          <VListItemTitle>Log out</VListItemTitle>
        </VListItem>
      </VList>
    </ActionMenu>
  </VAppBar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ActionMenu from '@/components/ActionMenu/ActionMenu'

export default {
  name: 'AppBar',

  components: {
    ActionMenu
  },

  computed: {
    ...mapGetters({
      loggedUser: 'loggedUser'
    })
  },

  methods: {
    ...mapActions({
      logout: 'logout'
    }),

    handleLogout () {
      this.logout()

      this.$router.push({ name: 'login' })
    }
  }
}
</script>
