<template>
  <VContainer class="dashboard">
    <DashboardCard />
    <ApolloQuery
      :query="query"
    >
      <template slot-scope="{ result: { loading, error, data }}">
        <VTextCard
          v-if="loading || error"
          class="text-xs-center"
        >
          <VProgressCircular
            v-if="loading"
            :size="45"
            indeterminate
          />
          <VAlert
            v-if="error"
            type="error"
            :value="true"
            dismissible
          >
            {{ error.message }}
          </VAlert>
        </VTextCard>
        <VDataTable
          v-if="data"
          :items="data.myReports"
          :headers="headers"
          class="my-1"
        >
          <template v-slot:top>
            <VToolbar
              flat
              color="grey lighten-4"
            >
              <VToolbarTitle>My Reports</VToolbarTitle>
            </VToolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <ActionMenu>
              <VList>
                <VListItem @click="handleDetails(item)">
                  <VListItemTitle>Details</VListItemTitle>
                </VListItem>
              </VList>
            </ActionMenu>
          </template>
        </VDataTable>
      </template>
    </ApolloQuery>
  </VContainer>
</template>

<script>
import DashboardCard from '@/components/Dashboard/DashboardCard'
import ActionMenu from '@/components/ActionMenu/ActionMenu'
import MY_REPORT_QUERY from '@/graphql/query/myReport'

export default {
  name: 'Dashboard',

  components: {
    DashboardCard,
    ActionMenu
  },

  data () {
    return {
      query: MY_REPORT_QUERY,
      headers: [
        {
          text: 'ID',
          value: 'id'
        },
        {
          text: 'Name',
          value: 'jobName'
        },
        {
          text: 'Duration',
          value: 'duration'
        },
        {
          text: 'Contract Number',
          value: 'contractNumber'
        },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false
        }
      ]
    }
  },

  methods: {
    handleDetails (item) {
      console.log(item)
    }
  }
}
</script>
