<template>
  <VContainer
    class="login"
    fluid
    fill-height
  >
    <VRow
      justify="center"
      align="center"
    >
      <VCol
        md="4"
        xs="12"
      >
        <VCard>
          <VCardTitle>
            Login
          </VCardTitle>
          <VCardText class="text-center">
            <ApolloMutation
              :mutation="mutation"
              :variables="form"
              :update="handleStoreToken"
            >
              <template slot-scope="{ mutate, loading, error }">
                <VAlert
                  v-if="error"
                  type="error"
                >
                  {{ error.message }}
                </VAlert>
                <VProgressCircular
                  v-if="loading"
                  :size="45"
                  indeterminate
                />
                <VForm v-if="!loading">
                  <VTextField
                    label="Username"
                    required
                    append-icon="person"
                    v-model="form.username"
                  />

                  <VTextField
                    type="password"
                    label="Password"
                    required
                    append-icon="lock"
                    v-model="form.password"
                  />

                  <VBtn
                    block
                    depressed
                    class="mt-2"
                    color="primary"
                    @click="mutate"
                  >
                    Log In
                  </VBtn>
                </VForm>
              </template>
            </ApolloMutation>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
  </VContainer>
</template>

<script>
import { LOGIN_MUTATION } from '@/graphql/mutation/loginMutation'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Login',

  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      mutation: LOGIN_MUTATION
    }
  },

  computed: {
    ...mapGetters({
      isAuthenticated: 'isAuthenticated'
    })
  },

  methods: {
    ...mapActions({
      storeToken: 'storeToken'
    }),

    handleStoreToken (store, { data: { authenticate } }) {
      this.storeToken(authenticate)

      if (this.isAuthenticated) {
        this.$router.push({ name: 'dashboard' })
      }
    }
  }
}
</script>
