<template>
  <div class="dashboard-card">
    <VRow>
      <VCol
        md="4"
        xs="12"
      >
        <VCard
          color="green"
          dark
        >
          <VCardTitle>
            <h4 class="title">My Report</h4>
            <VSpacer />
            <span>{{ myReports ? myReports.length : 0 }}</span>
          </VCardTitle>
        </VCard>
      </VCol>
      <VCol
        md="4"
        xs="12"
      >
        <VCard
          color="indigo"
          dark
        >
          <VCardTitle>
            <h4 class="title">Job Unit</h4>
            <VSpacer />
            <span>{{ jobUnits ? jobUnits.length : 0 }}</span>
          </VCardTitle>
        </VCard>
      </VCol>
      <VCol
        md="4"
        xs="12"
      >
        <VCard
          color="deep-orange"
          dark
        >
          <VCardTitle>
            <h4 class="title">Role</h4>
            <VSpacer />
            <span>{{ roles ? roles.length : 0 }}</span>
          </VCardTitle>
        </VCard>
      </VCol>
    </VRow>
  </div>
</template>

<script>
import MY_REPORT_QUERY from '@/graphql/query/myReport'
import JOB_UNIT_QUERY from '@/graphql/query/jobUnit'
import ROLE_QUERY from '@/graphql/query/role'

export default {
  name: 'DashboardCard',

  apollo: {
    myReports: MY_REPORT_QUERY,
    jobUnits: JOB_UNIT_QUERY,
    roles: ROLE_QUERY
  }
}
</script>
