<template>
  <VApp>
    <AppBar
      v-if="isAuthenticated"
    />
    <VContent>
      <router-view />
    </VContent>
  </VApp>
</template>

<script>
import AppBar from '@/components/AppBar'
import { mapGetters } from 'vuex'

export default {
  components: {
    AppBar
  },

  computed: {
    ...mapGetters({
      isAuthenticated: 'isAuthenticated'
    })
  }
}
</script>
