<template>
  <div class="action-menu">
    <VMenu offset-y>
      <template v-slot:activator="{ on }">
        <VBtn
          v-on="on"
          small
          icon
        >
          <VIcon>more_vert</VIcon>
        </VBtn>
      </template>
      <slot />
    </VMenu>
  </div>
</template>

<script>
export default {
  name: 'ActionMenu'
}
</script>
